.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 30px; /* Aumenta o padding para dar mais espaço ao conteúdo */
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    text-align: center; /* Centraliza o texto */
  }
  
  .modal-content h2 {
    font-size: 2em; /* Aumenta o tamanho do texto do título */
    margin-bottom: 20px;
  }
  
  .modal-content p {
    font-size: 1.2em; /* Aumenta o tamanho dos textos descritivos */
    margin-bottom: 15px;
  }
  
  .modal-content img {
    max-width: 150px; /* Ajusta o tamanho da imagem dentro do modal */
    margin: 20px auto; /* Centraliza a imagem horizontalmente */
    display: block;
  }
  
  .close-button {
    cursor: pointer;
    float: right;
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Mantém a cor do botão de fechar */
  }
  